form {
    display: flex;
    flex-direction: column;
}

input {
    width: 292px;
    height: 30px;
    margin-bottom: 10px;
}

form button {
    width: 300px;
    height: 30px;
}

.yup_error {
    font-size: 12px;
    color: red;
    margin-top: 0px;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
}

a:visited {
    color: red;
}