.cart {
    display: flex;
    justify-content: space-between;
}

.cart-container {
    width: 60vw;
    margin: 0 17px;
    padding: 0 10px;
    background-color: #fff;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: -10px;
}

.cart-li {
    display: flex;
    box-shadow: 0 0 0;
    width: 100%;
    align-items: center;
    margin: 0 0;
    padding: 0 0;
    border-radius: 0px;
}

.cart-img {
    width: 200px;
    height: 150px;
    margin: 0;
}

.cart-item-info {
    display: flex;
    width: calc(100% - 400px);
    flex-direction: column;
    justify-content: space-between;
}

.cart-item-info span {
    margin-top: 10px;
}

.cart-delete-item {
    margin-left: 40px;
}

.cart-delete-item:hover {
    cursor: pointer;
}

.cart-total {
    width: 30vw;
    background-color: #fff;
    margin: 0 17px;
    padding: 0 10px;
}

.cart-total hr {
    margin-top: -10px;
}

.cart-no-items button {
    width: 100%;
    margin-bottom: 10px;
}

.cart-with-items {
    max-height: 200px;
}

.cart-with-items-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.cart-with-items button {
    width: 100%;
    margin-top: 100px;
}