body {
    font-family: montserrat, sans-serif;
    font-size: 0.8rem;
}

.cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: -10px 17px -10px 34px;
}

h1:hover {
    cursor: pointer;
}

.carrinho:hover {
    cursor: pointer;
}